:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --orange: #ffc002;
    --grey: #f2f2f2;
    --dark-grey: #616161;
}

body {
    margin: 0;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: 20px;
    background: var(--secondary-color);
    margin: 0;
    padding: 25px 0;
}

.intro-container {
    background: var(--grey);
    position: relative;
    height: 700px;
}

.intro-container img {
    position: absolute;
    left: 20%;
    top: 20%;
    z-index: 1;
}

.orange-rectangle {
    background: var(--orange);
    width: 40%;
    height: 500px;
    position: absolute;
    right: 20%;
    top: 100px;
    padding: 0 25px 0 100px;
    text-align: right;
    color: var(--secondary-color);
}

.orange-rectangle h1 {
    font-size: 50px;
}

.orange-rectangle p {
    padding-left: 150px;
    font-size: 18px;
    line-height: 1.5;
}

.our-menu {
    width: 75%;
    margin: 50px auto 150px auto;
}

.our-menu span {
    font-size: 30px;
    text-transform: uppercase;
}

.our-menu h2 {
    font-size: 50px;
}

.menu-items {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.menu-item h3 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 3px;
    color: var(--dark-grey);
}

.menu-item p {
    font-size: 20px;
    line-height: 1.5;
}

.salad-section {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto auto 150px;
}

.salad {
    display: flex;
    gap: 24px;
    width: 80%;
}

.salad-text h2 {
    text-transform: uppercase;
    color: var(--dark-grey);
    font-weight: normal;
}

.salad-text p {
    font-size: 20px;
}

.salad-text span {
    font-weight: bold;
    font-size: 30px;
}

.salad-img img {
    max-width: 200px;
    height: auto;
}

.pasta-section {
    position: relative;
    min-height: 850px;
}

.musli {
    background: url("../images/pexels-food-photo.jpeg");
    background-size: cover;
    background-position: center;
    background-position-y: 100%;
    background-repeat: no-repeat;
    height: 500px;
}

.pasta {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    position: absolute;
    top: 45%;
    left: 25%;
}

.pasta-item {
    background: var(--secondary-color);
    padding: 20px;
}

.pasta-item h2 {
    color: var(--dark-grey);
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 5px;
    font-size: 20px;
}

.pasta-item span {
    font-weight: bold;
    font-size: 18px;
}

.salads-snacks {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: auto;
}

.left-side {
    width: 40%;
}

.left-side h2 {
    font-size: 72px;
    font-weight: bold;
}

.orange-line {
    height: 14px;
    width: 50%;
    background: var(--orange);
    margin-bottom: 48px;
}

.right-side img {
    max-width: 700px;
}

.snack-items {
    padding: 0;
    list-style: none;
}

.snack-items li {
    margin-bottom: 18px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 4px;
}